@charset "UTF-8";
html {
  font-size: 62.5%; }

/**************************************/
img {
  display: inline-block;
  max-width: 100%; }

a {
  color: #000;
  text-decoration: none; }

header {
  background: #f9f8f6;
  padding-bottom: 15px; }
  header #header_in {
    padding-top: 30px; }
    header #header_in .logo_pc {
      display: block; }
    header #header_in .logo_sp {
      display: none; }
  header #nav {
    position: absolute;
    right: 0;
    bottom: 0; }
    header #nav .facebook_sp {
      display: none; }
    header #nav .insta_sp {
      display: none; }
  header #nav ul {
    margin-bottom: 0; }
  header #nav ul li {
    display: inline;
    margin-right: 15px; }
    header #nav ul li .facebook {
      margin-right: -10px; }
    header #nav ul li .insta {
      margin-right: -15px; }
  header .menu-sp {
    display: none; }
  @media (max-width: 480px) {
    header {
      padding-bottom: 5px; }
      header #header_in .logo_pc {
        display: none; }
      header #header_in .logo_sp {
        display: block;
        margin: 0 auto;
        text-align: center; }
      header #nav {
        position: static;
        padding-top: 5px; }
        header #nav ul {
          margin-bottom: 0;
          text-align: center; }
      header #nav ul li {
        margin-right: 0; }
        header #nav ul li .image {
          display: none; }
        header #nav ul li .facebook {
          display: none; }
        header #nav ul li .facebook_sp {
          display: inline;
          margin: 0 auto;
          text-align: center; }
        header #nav ul li .insta {
          display: none; }
        header #nav ul li .insta_sp {
          display: inline;
          margin: 0 auto;
          text-align: center; }
      header .menu-sp {
        display: inline; }
      header #ham_menu {
        cursor: pointer;
        display: inline; }
      header .sp_menu_toggle {
        display: none; } }

main {
  background: #f9f8f6;
  /* ここからlist　*/
  /* ここまでlist　*/
  /*ここからproducts */
  /* ここまでproducts */ }
  main .owl-theme .owl-dots {
    text-align: left; }
    main .owl-theme .owl-dots .owl-dot {
      display: inline;
      transition: opacity .2s ease; }
      main .owl-theme .owl-dots .owl-dot span {
        border-radius: 0px;
        width: 32px;
        height: 3px;
        margin: 0 12px 5px 0;
        margin-top: -15px; }
    main .owl-theme .owl-dots .owl-dot.active span {
      background-color: #9d1a2d; }
    main .owl-theme .owl-dots button {
      height: 0; }
  main .home_cate {
    background-color: #e8e4da;
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 1rem 0 1rem 1rem;
    border-radius: 3px; }
    main .home_cate .home_cate_img p {
      color: #887f69;
      display: inline;
      margin: 0 1rem; }
      main .home_cate .home_cate_img p a {
        color: #887f69; }
  main .categories_name_img .img-pc {
    display: block;
    width: 100%; }
  main .categories_name_img .img-sp {
    display: none; }
  main .home_cate_img {
    max-width: 100%; }
  main .page_next_back {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0; }
    main .page_next_back .back {
      color: #fff;
      font-weight: bold;
      background-color: #887f69;
      padding: 1rem 4rem;
      box-sizing: border-box; }
    main .page_next_back .next {
      color: #fff;
      font-weight: bold;
      background-color: #887f69;
      padding: 1rem 4rem;
      box-sizing: border-box; }
  main .recent {
    margin-bottom: 10px; }
    main .recent .img-pc {
      display: block;
      width: 100%;
      margin-right: 0; }
    main .recent .img-sp {
      display: none; }
  @media (max-width: 480px) {
    main .categories_name_img .img-pc {
      display: none; }
    main .categories_name_img .img-sp {
      display: block; }
    main .recent .img-pc {
      display: none; }
    main .recent .img-sp {
      display: block;
      margin: 0 auto;
      text-align: center; } }
  main .products {
    background-color: #FFF;
    padding: 3rem 6rem;
    margin-bottom: 20px; }
    main .products .pro_name {
      font-weight: bold;
      float: left;
      width: 70%; }
    main .products .pro_number {
      color: #887f69;
      float: right; }
    main .products .border {
      border-bottom: solid 1px #e3e8cf;
      clear: both;
      margin-top: 40px;
      margin-bottom: 20px; }
    main .products .pro_imgbox {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      main .products .pro_imgbox .box-left {
        width: 70%; }
      main .products .pro_imgbox .box-right {
        width: 30%; }
    main .products .color-size_box {
      border-top: solid 1px #e3e8cf;
      padding: 1rem 0; }
      main .products .color-size_box .title {
        padding: 10px 0; }
      main .products .color-size_box .box tr {
        border: solid 1px #e8e4da; }
        main .products .color-size_box .box tr .a {
          width: 160px; }
        main .products .color-size_box .box tr .b {
          width: 208px; }
        main .products .color-size_box .box tr .c {
          width: 208px; }
        main .products .color-size_box .box tr th {
          border: solid 1px #e8e4da;
          color: #887f69;
          font-weight: normal;
          background-color: #f9f8f6;
          text-align: center; }
        main .products .color-size_box .box tr td {
          border: solid 1px #e8e4da;
          text-align: center; }
          main .products .color-size_box .box tr td input {
            margin-bottom: 0; }
          main .products .color-size_box .box tr td input[type="checkbox"]:checked + label {
            background: #887f69; }
          main .products .color-size_box .box tr td input[type="checkbox"]:checked + label {
            background: #887f69; }
    main .products .price {
      width: 100%;
      border-top: solid 1px #e3e8cf; }
      main .products .price .price_img {
        padding: 20px 0;
        float: left; }
      main .products .price p {
        font-size: large;
        color: #e80f66;
        float: right;
        padding: 10px 0;
        margin-bottom: 0px; }
        main .products .price p span {
          font-size: small;
          font-weight: bold;
          color: #000; }
    main .products .quantity {
      width: 100%;
      border-top: solid 1px #e3e8cf;
      clear: both; }
      main .products .quantity .quantity_img {
        padding: 20px 0;
        float: left; }
      main .products .quantity .quantity-box {
        padding: 9px 0;
        float: right; }
      main .products .quantity #form01 {
        max-width: 100%;
        height: 38px;
        width: 147px;
        border: solid 1px;
        border-color: #e8e4da;
        position: relative;
        margin-bottom: 0rem; }
      main .products .quantity #form01 input {
        vertical-align: top;
        margin: 0px;
        height: 100%;
        box-sizing: border-box;
        background-color: transparent; }
      main .products .quantity #form01 {
        border-radius: 0px; }
      main .products .quantity #input01 {
        border: none;
        width: 100%;
        padding-left: 10px;
        position: absolute; }
    main .products #price-quantity-add {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between; }
      main .products #price-quantity-add .price-quantity {
        width: 55%; }
      main .products #price-quantity-add .add {
        box-sizing: border-box; }
    main .products .ex {
      border-top: solid 1px #e3e8cf; }
      main .products .ex .title {
        margin-top: 30px;
        color: #887f69;
        font-size: large;
        font-weight: bold; }
      main .products .ex .border-ex2 {
        border-top: solid 1px #887f69;
        margin-top: 10px; }
      main .products .ex .title-ex {
        color: #887f69;
        font-size: large;
        font-weight: bold;
        margin: 15px 0; }
      main .products .ex .ex_txt {
        font-weight: bold; }
      main .products .ex .ex_box tr {
        border: solid 1px #e8e4da; }
        main .products .ex .ex_box tr th {
          border: solid 1px #e8e4da;
          color: #887f69;
          font-weight: normal;
          background-color: #f9f8f6;
          text-align: center;
          width: 160px; }
        main .products .ex .ex_box tr td {
          border: solid 1px #e8e4da;
          color: #887f69;
          width: 416px; }
    @media (max-width: 480px) {
      main .products {
        padding: 1rem 2rem; }
        main .products .pro_name {
          display: block;
          clear: both; }
        main .products .pro_number {
          display: block;
          clear: both;
          float: none; }
        main .products .border {
          margin-top: 10px; }
        main .products .pro_imgbox {
          display: block; }
          main .products .pro_imgbox .box-left {
            width: 100%; }
          main .products .pro_imgbox .box-right {
            width: 100%; }
        main .products .price p {
          padding: 15px 0; }
        main .products .price .price_img {
          float: none; }
        main .products .ex {
          border-top: none; }
          main .products .ex .title {
            margin-top: 5px; }
        main .products #price-quantity-add {
          flex-direction: column; }
          main .products #price-quantity-add .price-quantity {
            width: 100%; }
          main .products #price-quantity-add .add {
            text-align: center;
            border-top: solid 1px #e3e8cf; }
            main .products #price-quantity-add .add .add_img {
              margin: 10px 0; }
        main .products #list_img {
          margin-left: 0px; }
          main .products #list_img li {
            width: calc(20% - 5px);
            margin-right: 5px; }
            main .products #list_img li:nth-child(5n) {
              margin-right: 0; }
          main .products #list_img li img {
            width: 100%; } }
  main #list_img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-left: 10px; }
    main #list_img li {
      width: 50%; }
  main #display_img img {
    width: 100%; }
  main li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0; }
  main li img {
    width: 87.4%;
    cursor: pointer; }
  main .items .new_item_title_img {
    margin-top: 1rem;
    margin-bottom: 2rem; }
    main .items .new_item_title_img .img-pc {
      display: block;
      width: 100%; }
    main .items .new_item_title_img .img-sp {
      display: none; }
  main .items .item_title_img {
    margin-top: 3rem;
    margin-bottom: 2rem; }
    main .items .item_title_img .img-pc {
      display: block;
      width: 100%; }
    main .items .item_title_img .img-sp {
      display: none; }
  main .items .group_items {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    main .items .group_items .item_box {
      text-align: center;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      padding: 1rem;
      background-color: #ffffff;
      box-sizing: border-box;
      width: calc(33.3% - 3.4px); }
      main .items .group_items .item_box:nth-child(3n) {
        margin-right: 0; }
      main .items .group_items .item_box .item_text {
        text-align: left; }
        main .items .group_items .item_box .item_text .item_name {
          margin-bottom: 1rem; }
        main .items .group_items .item_box .item_text .item_price {
          margin-bottom: 1.7rem; }
    @media (max-width: 480px) {
      main .items .group_items .item_box {
        text-align: center;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        padding: 1rem;
        background-color: #ffffff;
        box-sizing: border-box;
        width: calc(50% - 2.5px); }
        main .items .group_items .item_box:nth-child(3n) {
          margin-right: 0.5rem; }
        main .items .group_items .item_box:nth-child(2n) {
          margin-right: 0; } }
  main .shopping_guide .guide_title_img {
    margin-top: 3rem;
    margin-bottom: 3rem; }
    main .shopping_guide .guide_title_img .img-pc {
      display: block;
      width: 100%; }
    main .shopping_guide .guide_title_img .img-sp {
      display: none; }
  main .shopping_guide .group_guide {
    display: flex;
    flex-wrap: wrap; }
    main .shopping_guide .group_guide .guide {
      padding: 2rem;
      background-color: #ffffff;
      box-sizing: border-box;
      margin-right: 5px;
      width: calc(50% - 2.5px); }
      main .shopping_guide .group_guide .guide:nth-child(2) {
        margin-right: 0; }
      main .shopping_guide .group_guide .guide h3 {
        color: #887f69;
        font-size: 1.6rem;
        font-weight: bold; }
      main .shopping_guide .group_guide .guide p {
        color: #887f69;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 0rem; }
        main .shopping_guide .group_guide .guide p span {
          display: block;
          color: #000;
          margin-top: 0.5rem; }
    @media (max-width: 480px) {
      main .shopping_guide .group_guide {
        display: block; }
        main .shopping_guide .group_guide .guide {
          padding: 2rem;
          width: 100%;
          background-color: #ffffff;
          box-sizing: border-box;
          margin-right: 0px;
          margin-bottom: 10px;
          width: 100%; } }
  main .search {
    background-color: #ffffff;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box; }
    main .search .image {
      max-width: 100%;
      display: block; }
      @media (max-width: 480px) {
        main .search .image {
          display: none; } }
    main .search .search_box {
      padding-top: 1.5rem; }
      main .search .search_box #form02 {
        background-color: #eeeeee;
        max-width: 100%;
        height: 30px;
        border: none;
        position: relative;
        margin-bottom: 0rem; }
      main .search .search_box #form02 input {
        vertical-align: top;
        margin: 0px;
        height: 100%;
        box-sizing: border-box;
        background-color: transparent; }
      main .search .search_box #form02 {
        border-radius: 0px; }
      main .search .search_box #input02 {
        border: none;
        width: 170px;
        padding-left: 10px;
        position: absolute;
        font-style: italic; }
      main .search .search_box #submit02 {
        width: 95%;
        height: 95%;
        border: none;
        background-image: url("../images/top/search_icon.png");
        background-position: right;
        background-size: auto 60%;
        background-repeat: no-repeat; }
  main .link {
    display: block;
    margin-top: 2rem;
    padding: 0 2rem;
    background-color: #887f69;
    max-width: 100%; }
    main .link .icon .next {
      background-image: url("../images/top/next_icon.png");
      background-position: right;
      background-repeat: no-repeat;
      padding: 1.3rem 0;
      height: 100%;
      width: 100%;
      box-sizing: border-box; }
  main .categories .categories_title {
    display: block;
    margin-top: 2rem;
    padding: 0 2rem;
    background-color: #887f69;
    max-width: 100%; }
    main .categories .categories_title .icon .down {
      background-image: url("../images/top/down_icon.png");
      background-position: right;
      background-repeat: no-repeat;
      padding: 1.3rem 0;
      height: 100%;
      width: 100%; }
  main .categories .categories_box {
    display: block;
    max-width: 100%; }
    main .categories .categories_box .categories_text {
      background-color: #ffffff;
      margin-top: 1px;
      padding: 0 2rem; }
      main .categories .categories_box .categories_text .next {
        background-image: url("../images/top/next_icon_gray.png");
        background-position: right;
        background-repeat: no-repeat;
        padding: 1.3rem 0;
        height: 100%;
        width: 100%;
        box-sizing: border-box; }
  main .about_info .about_info_img {
    display: block;
    margin-top: 2rem;
    background-color: #887f69;
    max-width: 100%;
    padding: 1.3rem 0;
    box-sizing: border-box; }
    main .about_info .about_info_img .image {
      padding: 0 2rem;
      max-height: 100%;
      max-width: 100%;
      box-sizing: border-box; }
  main .about_info .about_info_box {
    display: block;
    background-color: #ffffff;
    margin-top: 1px;
    padding: 1rem;
    box-sizing: border-box; }
    main .about_info .about_info_box p {
      margin-bottom: 2rem; }
    main .about_info .about_info_box .about_info_button {
      text-align: center;
      margin-bottom: 1rem; }
  @media (max-width: 480px) {
    main .about_info .about_info_box #img-box {
      margin-right: 10px; }
    main .about_info .about_info_box #img-box, main .about_info .about_info_box #txt-box {
      float: left;
      width: 48%; }
    main .about_info .about_info_box::after {
      content: '';
      display: block;
      clear: both; } }
  @media (max-width: 480px) {
    main .items .new_item_title_img .img-pc {
      display: none; }
    main .items .new_item_title_img .img-sp {
      display: block;
      margin: 0 auto;
      text-align: center; }
    main .items .item_title_img .img-pc {
      display: none; }
    main .items .item_title_img .img-sp {
      display: block;
      margin: 0 auto;
      text-align: center; }
    main .shopping_guide .guide_title_img .img-pc {
      display: none; }
    main .shopping_guide .guide_title_img .img-sp {
      display: block;
      margin: 0 auto;
      text-align: center; } }

footer {
  background: #f9f8f6; }
  footer #footer_in {
    padding-top: 30px;
    padding-bottom: 5px;
    box-sizing: border-box; }
  footer .page_top {
    text-align: right; }
  footer hr {
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px #887f69 solid;
    margin-top: 1rem; }
  footer .coppy {
    text-align: center; }
    footer .coppy p {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.0rem; }
    footer .coppy .coppy_right {
      color: #b8b4ac;
      font-size: 1.0rem;
      padding: 10px 0;
      box-sizing: border-box; }
  @media (max-width: 480px) {
    footer .page_top {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
